<%= row do %>
  <%= text bold: true do %>
    Securely Log Into Plural
  <% end %>
<% end %>
<%= space() %>
<%= row do %>
  <%= btn url: url("/passwordless-login/#{@login.token}") do %>
    Login
  <% end %>
<% end %>
