<%= row do %>
  <%= text bold: true do %>
    Reset Your Password
  <% end %>
<% end %>

<%= row do %>
  <%= text do %>
    Hi <%= @user.name %>
  <% end %>
<% end %>

<%= row do %>
  Click here to reset your plural password
<% end %>

<%= row do %>
  <% btn url: url("/reset-password/#{@token.external_id}") do %>
    Reset Password
  <% end %>
<% end %>

<%= row do %>
  <%= text do %>
    If you didn’t request a password reset, please disregard this email.
  <% end %>
<% end %>
