<div class="fit-content margin-horizontal-auto text-lead">
  Request to reset password.
</div>
<div class="fit-content margin-horizontal-auto text-content text-align-center margin-top-large">
  Hi <%= @user.name %>
  <br />
  <br />
  A request was just made to reset your password. Click the link below to continue.
</div>
<a class="button margin-top-large" href="<%= url("/reset-password/#{@token.external_id}") %>">
  Reset password
</a>
