name: <%= application %>
description: <%= application %> deployed on plural
category: <%= String.upcase("#{category}") %>
private: true
icon: plural/icons/<%= application %>.png
notes: plural/notes.tpl
