.installation-container {
  border-bottom: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-right: 1px solid #dadada;
}

.installation-tabs {
  border-left: 1px solid #dadada;
}

.installation-tab {
  border-right: 1px solid #dadada;
  border-top: 1px solid #dadada;
}

.installation-tab.selected {
  z-index: 10;
}

.installation-tab.unselected {
  border-bottom: 1px solid #dadada;
  z-index: 10;
}
