@-webkit-keyframes plrl_logomark_anim_anim01_dot {
  /* REST STATE */
  0% {
    transform: scale(1.1);
  }
  /* SECOND STATE */
  2% {
    transform: scale(1.05);
  }
  4% {
    transform: scale(0.8);
  }
  23% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  /* THIRD STATE */
  26% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(0.8);
  }
  49% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  51% {
    transform: scale(1.15);
  }
  /* FOURTH STATE */
  53% {
    transform: scale(0.85);
  }
  74% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.08);
  }
  /* BACK TO REST */
  78% {
    transform: scale(0.8);
  }
  96% {
    transform: scale(0.9);
  }
  98% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
  }
}
@-moz-keyframes plrl_logomark_anim_anim01_dot {
  /* REST STATE */
  0% {
    transform: scale(1.1);
  }
  /* SECOND STATE */
  2% {
    transform: scale(1.05);
  }
  4% {
    transform: scale(0.8);
  }
  23% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  /* THIRD STATE */
  26% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(0.8);
  }
  49% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  51% {
    transform: scale(1.15);
  }
  /* FOURTH STATE */
  53% {
    transform: scale(0.85);
  }
  74% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.08);
  }
  /* BACK TO REST */
  78% {
    transform: scale(0.8);
  }
  96% {
    transform: scale(0.9);
  }
  98% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
  }
}
@-ms-keyframes plrl_logomark_anim_anim01_dot {
  /* REST STATE */
  0% {
    transform: scale(1.1);
  }
  /* SECOND STATE */
  2% {
    transform: scale(1.05);
  }
  4% {
    transform: scale(0.8);
  }
  23% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  /* THIRD STATE */
  26% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(0.8);
  }
  49% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  51% {
    transform: scale(1.15);
  }
  /* FOURTH STATE */
  53% {
    transform: scale(0.85);
  }
  74% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.08);
  }
  /* BACK TO REST */
  78% {
    transform: scale(0.8);
  }
  96% {
    transform: scale(0.9);
  }
  98% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes plrl_logomark_anim_anim01_dot {
  /* REST STATE */
  0% {
    transform: scale(1.1);
  }
  /* SECOND STATE */
  2% {
    transform: scale(1.05);
  }
  4% {
    transform: scale(0.8);
  }
  23% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.95);
  }
  /* THIRD STATE */
  26% {
    transform: scale(1.1);
  }
  28% {
    transform: scale(0.8);
  }
  49% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1);
  }
  51% {
    transform: scale(1.15);
  }
  /* FOURTH STATE */
  53% {
    transform: scale(0.85);
  }
  74% {
    transform: scale(0.9);
  }
  75% {
    transform: scale(1.08);
  }
  /* BACK TO REST */
  78% {
    transform: scale(0.8);
  }
  96% {
    transform: scale(0.9);
  }
  98% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes plrl_logomark_anim_anim01_top_right {
  /* REST STATE */
  0% {
    width: 16.7235px;
    top: 0px;
    /* Note that we have to pull the top up to hide rounded corner */
    height: 68.6619px;
    right: 0;
  }
  /* SECOND STATE */
  3% {
    width: 100.6619px;
    height: 16.7235px;
    top: 0px;
    right: -20px;
  }
  25% {
    width: 100.6619px;
    height: 16.7235px;
    top: 0px;
    right: -20px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
    right: 0;
  }
  50% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
    right: 0;
  }
  /* FOURTH STATE */
  53% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
  }
  75% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
  }
  /* BACK TO REST */
  78% {
    width: 16.7235px;
    height: 68.6619px;
    top: -20px;
    right: 0;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  100% {
    width: 16.7235px;
    height: 68.6619px;
    top: -20px;
    right: 0;
    /* Note that we have to pull the top up to hide rounded corner */
  }
}
@-moz-keyframes plrl_logomark_anim_anim01_top_right {
  /* REST STATE */
  0% {
    width: 16.7235px;
    top: 0px;
    /* Note that we have to pull the top up to hide rounded corner */
    height: 68.6619px;
    right: 0;
  }
  /* SECOND STATE */
  3% {
    width: 100.6619px;
    height: 16.7235px;
    top: 0px;
    right: -20px;
  }
  25% {
    width: 100.6619px;
    height: 16.7235px;
    top: 0px;
    right: -20px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
    right: 0;
  }
  50% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
    right: 0;
  }
  /* FOURTH STATE */
  53% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
  }
  75% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
  }
  /* BACK TO REST */
  78% {
    width: 16.7235px;
    height: 68.6619px;
    top: -20px;
    right: 0;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  100% {
    width: 16.7235px;
    height: 68.6619px;
    top: -20px;
    right: 0;
    /* Note that we have to pull the top up to hide rounded corner */
  }
}
@-ms-keyframes plrl_logomark_anim_anim01_top_right {
  /* REST STATE */
  0% {
    width: 16.7235px;
    top: 0px;
    /* Note that we have to pull the top up to hide rounded corner */
    height: 68.6619px;
    right: 0;
  }
  /* SECOND STATE */
  3% {
    width: 100.6619px;
    height: 16.7235px;
    top: 0px;
    right: -20px;
  }
  25% {
    width: 100.6619px;
    height: 16.7235px;
    top: 0px;
    right: -20px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
    right: 0;
  }
  50% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
    right: 0;
  }
  /* FOURTH STATE */
  53% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
  }
  75% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
  }
  /* BACK TO REST */
  78% {
    width: 16.7235px;
    height: 68.6619px;
    top: -20px;
    right: 0;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  100% {
    width: 16.7235px;
    height: 68.6619px;
    top: -20px;
    right: 0;
    /* Note that we have to pull the top up to hide rounded corner */
  }
}
@keyframes plrl_logomark_anim_anim01_top_right {
  /* REST STATE */
  0% {
    width: 16.7235px;
    top: 0px;
    /* Note that we have to pull the top up to hide rounded corner */
    height: 68.6619px;
    right: 0;
  }
  /* SECOND STATE */
  3% {
    width: 100.6619px;
    height: 16.7235px;
    top: 0px;
    right: -20px;
  }
  25% {
    width: 100.6619px;
    height: 16.7235px;
    top: 0px;
    right: -20px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
    right: 0;
  }
  50% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
    right: 0;
  }
  /* FOURTH STATE */
  53% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
  }
  75% {
    width: 68.6619px;
    height: 68.6619px;
    top: 0;
  }
  /* BACK TO REST */
  78% {
    width: 16.7235px;
    height: 68.6619px;
    top: -20px;
    right: 0;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  100% {
    width: 16.7235px;
    height: 68.6619px;
    top: -20px;
    right: 0;
    /* Note that we have to pull the top up to hide rounded corner */
  }
}
@-webkit-keyframes plrl_logomark_anim_anim01_top_left {
  /* REST STATE */
  0% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
  /* SECOND STATE */
  2% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  4% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  25% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 16.7235px;
    left: -20px;
    top: 0px;
  }
  50% {
    width: 68.6619px;
    height: 16.7235px;
    left: -20px;
    top: 0px;
  }
  /* FOURTH STATE */
  53% {
    width: 16px;
    height: 68.6619px;
    left: 0px;
    top: -20px;
  }
  75% {
    width: 16px;
    height: 68.6619px;
    left: 0px;
    top: -20px;
  }
  /* BACK TO REST */
  78% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
  100% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
}
@-moz-keyframes plrl_logomark_anim_anim01_top_left {
  /* REST STATE */
  0% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
  /* SECOND STATE */
  2% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  4% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  25% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 16.7235px;
    left: -20px;
    top: 0px;
  }
  50% {
    width: 68.6619px;
    height: 16.7235px;
    left: -20px;
    top: 0px;
  }
  /* FOURTH STATE */
  53% {
    width: 16px;
    height: 68.6619px;
    left: 0px;
    top: -20px;
  }
  75% {
    width: 16px;
    height: 68.6619px;
    left: 0px;
    top: -20px;
  }
  /* BACK TO REST */
  78% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
  100% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
}
@-ms-keyframes plrl_logomark_anim_anim01_top_left {
  /* REST STATE */
  0% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
  /* SECOND STATE */
  2% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  4% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  25% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 16.7235px;
    left: -20px;
    top: 0px;
  }
  50% {
    width: 68.6619px;
    height: 16.7235px;
    left: -20px;
    top: 0px;
  }
  /* FOURTH STATE */
  53% {
    width: 16px;
    height: 68.6619px;
    left: 0px;
    top: -20px;
  }
  75% {
    width: 16px;
    height: 68.6619px;
    left: 0px;
    top: -20px;
  }
  /* BACK TO REST */
  78% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
  100% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
}
@keyframes plrl_logomark_anim_anim01_top_left {
  /* REST STATE */
  0% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
  /* SECOND STATE */
  2% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  4% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  25% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 16.7235px;
    left: -20px;
    top: 0px;
  }
  50% {
    width: 68.6619px;
    height: 16.7235px;
    left: -20px;
    top: 0px;
  }
  /* FOURTH STATE */
  53% {
    width: 16px;
    height: 68.6619px;
    left: 0px;
    top: -20px;
  }
  75% {
    width: 16px;
    height: 68.6619px;
    left: 0px;
    top: -20px;
  }
  /* BACK TO REST */
  78% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
  100% {
    width: 68.6619px;
    height: 68.6619px;
    left: 0;
    top: 0;
  }
}
@-webkit-keyframes plrl_logomark_anim_anim01_bottom_right {
  /* REST STATE */
  0% {
    width: 68.6619px;
    height: 60.6619px;
    right: 0;
  }
  /* SECOND STATE */
  2% {
    width: 60px;
    height: 67.2619px;
    right: 0px;
  }
  4% {
    width: 60px;
    height: 68.6619px;
    right: 0px;
  }
  25% {
    width: 60px;
    height: 68.6619px;
    right: 0px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 16.7px;
    right: -20px;
    bottom: 0;
  }
  50% {
    width: 68.6619px;
    height: 16.7px;
    right: -20px;
    bottom: 0;
  }
  /* FOURTH STATE */
  53% {
    width: 16px;
    height: 68.6619px;
    right: 0;
    bottom: -20px;
  }
  75% {
    width: 16px;
    height: 68.6619px;
    right: 0;
    bottom: -20px;
  }
  /* BACK TO REST */
  78% {
    width: 68.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
  97% {
    width: 68.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
  100% {
    width: 70.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
}
@-moz-keyframes plrl_logomark_anim_anim01_bottom_right {
  /* REST STATE */
  0% {
    width: 68.6619px;
    height: 60.6619px;
    right: 0;
  }
  /* SECOND STATE */
  2% {
    width: 60px;
    height: 67.2619px;
    right: 0px;
  }
  4% {
    width: 60px;
    height: 68.6619px;
    right: 0px;
  }
  25% {
    width: 60px;
    height: 68.6619px;
    right: 0px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 16.7px;
    right: -20px;
    bottom: 0;
  }
  50% {
    width: 68.6619px;
    height: 16.7px;
    right: -20px;
    bottom: 0;
  }
  /* FOURTH STATE */
  53% {
    width: 16px;
    height: 68.6619px;
    right: 0;
    bottom: -20px;
  }
  75% {
    width: 16px;
    height: 68.6619px;
    right: 0;
    bottom: -20px;
  }
  /* BACK TO REST */
  78% {
    width: 68.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
  97% {
    width: 68.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
  100% {
    width: 70.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
}
@-ms-keyframes plrl_logomark_anim_anim01_bottom_right {
  /* REST STATE */
  0% {
    width: 68.6619px;
    height: 60.6619px;
    right: 0;
  }
  /* SECOND STATE */
  2% {
    width: 60px;
    height: 67.2619px;
    right: 0px;
  }
  4% {
    width: 60px;
    height: 68.6619px;
    right: 0px;
  }
  25% {
    width: 60px;
    height: 68.6619px;
    right: 0px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 16.7px;
    right: -20px;
    bottom: 0;
  }
  50% {
    width: 68.6619px;
    height: 16.7px;
    right: -20px;
    bottom: 0;
  }
  /* FOURTH STATE */
  53% {
    width: 16px;
    height: 68.6619px;
    right: 0;
    bottom: -20px;
  }
  75% {
    width: 16px;
    height: 68.6619px;
    right: 0;
    bottom: -20px;
  }
  /* BACK TO REST */
  78% {
    width: 68.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
  97% {
    width: 68.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
  100% {
    width: 70.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
}
@keyframes plrl_logomark_anim_anim01_bottom_right {
  /* REST STATE */
  0% {
    width: 68.6619px;
    height: 60.6619px;
    right: 0;
  }
  /* SECOND STATE */
  2% {
    width: 60px;
    height: 67.2619px;
    right: 0px;
  }
  4% {
    width: 60px;
    height: 68.6619px;
    right: 0px;
  }
  25% {
    width: 60px;
    height: 68.6619px;
    right: 0px;
  }
  /* THIRD STATE */
  28% {
    width: 68.6619px;
    height: 16.7px;
    right: -20px;
    bottom: 0;
  }
  50% {
    width: 68.6619px;
    height: 16.7px;
    right: -20px;
    bottom: 0;
  }
  /* FOURTH STATE */
  53% {
    width: 16px;
    height: 68.6619px;
    right: 0;
    bottom: -20px;
  }
  75% {
    width: 16px;
    height: 68.6619px;
    right: 0;
    bottom: -20px;
  }
  /* BACK TO REST */
  78% {
    width: 68.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
  97% {
    width: 68.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
  100% {
    width: 70.6619px;
    height: 68.6619px;
    right: 0;
    bottom: 0;
  }
}
@-webkit-keyframes plrl_logomark_anim_anim01_bottom_left {
  /* REST STATE */
  0% {
    width: 56.7235px;
    height: 14.2235px;
    left: -16px;
    bottom: 0px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  /* SECOND STATE */
  4% {
    width: 102px;
    height: 16.7235px;
    left: -20px;
    bottom: 0px;
  }
  25% {
    width: 102px;
    height: 16.7235px;
    left: -20px;
    bottom: 0px;
  }
  /* THIRD STATE */
  28% {
    left: 0;
    width: 68.7235px;
    height: 68.6619px;
    bottom: 0px;
  }
  50% {
    left: 0;
    width: 70px;
    height: 68.6619px;
    bottom: 0px;
  }
  /* FOURTH STATE */
  53% {
    width: 68.6619px;
    height: 68.6619px ;
    left: 0px;
    bottom: 0px;
  }
  75% {
    left: 0;
    width: 68.6619px;
    height: 68.6619px;
    bottom: 0px;
    left: 0px;
  }
  /* BACK TO REST */
  78% {
    width: 16.7235px;
    height: 68.6619px ;
    left: 0;
    bottom: -16px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  100% {
    width: 16.7235px;
    height: 68.6619px ;
    left: 0;
    bottom: -20px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
}
@-moz-keyframes plrl_logomark_anim_anim01_bottom_left {
  /* REST STATE */
  0% {
    width: 56.7235px;
    height: 14.2235px;
    left: -16px;
    bottom: 0px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  /* SECOND STATE */
  4% {
    width: 102px;
    height: 16.7235px;
    left: -20px;
    bottom: 0px;
  }
  25% {
    width: 102px;
    height: 16.7235px;
    left: -20px;
    bottom: 0px;
  }
  /* THIRD STATE */
  28% {
    left: 0;
    width: 68.7235px;
    height: 68.6619px;
    bottom: 0px;
  }
  50% {
    left: 0;
    width: 70px;
    height: 68.6619px;
    bottom: 0px;
  }
  /* FOURTH STATE */
  53% {
    width: 68.6619px;
    height: 68.6619px ;
    left: 0px;
    bottom: 0px;
  }
  75% {
    left: 0;
    width: 68.6619px;
    height: 68.6619px;
    bottom: 0px;
    left: 0px;
  }
  /* BACK TO REST */
  78% {
    width: 16.7235px;
    height: 68.6619px ;
    left: 0;
    bottom: -16px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  100% {
    width: 16.7235px;
    height: 68.6619px ;
    left: 0;
    bottom: -20px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
}
@-ms-keyframes plrl_logomark_anim_anim01_bottom_left {
  /* REST STATE */
  0% {
    width: 56.7235px;
    height: 14.2235px;
    left: -16px;
    bottom: 0px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  /* SECOND STATE */
  4% {
    width: 102px;
    height: 16.7235px;
    left: -20px;
    bottom: 0px;
  }
  25% {
    width: 102px;
    height: 16.7235px;
    left: -20px;
    bottom: 0px;
  }
  /* THIRD STATE */
  28% {
    left: 0;
    width: 68.7235px;
    height: 68.6619px;
    bottom: 0px;
  }
  50% {
    left: 0;
    width: 70px;
    height: 68.6619px;
    bottom: 0px;
  }
  /* FOURTH STATE */
  53% {
    width: 68.6619px;
    height: 68.6619px ;
    left: 0px;
    bottom: 0px;
  }
  75% {
    left: 0;
    width: 68.6619px;
    height: 68.6619px;
    bottom: 0px;
    left: 0px;
  }
  /* BACK TO REST */
  78% {
    width: 16.7235px;
    height: 68.6619px ;
    left: 0;
    bottom: -16px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  100% {
    width: 16.7235px;
    height: 68.6619px ;
    left: 0;
    bottom: -20px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
}
@keyframes plrl_logomark_anim_anim01_bottom_left {
  /* REST STATE */
  0% {
    width: 56.7235px;
    height: 14.2235px;
    left: -16px;
    bottom: 0px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  /* SECOND STATE */
  4% {
    width: 102px;
    height: 16.7235px;
    left: -20px;
    bottom: 0px;
  }
  25% {
    width: 102px;
    height: 16.7235px;
    left: -20px;
    bottom: 0px;
  }
  /* THIRD STATE */
  28% {
    left: 0;
    width: 68.7235px;
    height: 68.6619px;
    bottom: 0px;
  }
  50% {
    left: 0;
    width: 70px;
    height: 68.6619px;
    bottom: 0px;
  }
  /* FOURTH STATE */
  53% {
    width: 68.6619px;
    height: 68.6619px ;
    left: 0px;
    bottom: 0px;
  }
  75% {
    left: 0;
    width: 68.6619px;
    height: 68.6619px;
    bottom: 0px;
    left: 0px;
  }
  /* BACK TO REST */
  78% {
    width: 16.7235px;
    height: 68.6619px ;
    left: 0;
    bottom: -16px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
  100% {
    width: 16.7235px;
    height: 68.6619px ;
    left: 0;
    bottom: -20px;
    /* Note that we have to pull the top up to hide rounded corner */
  }
}
.plrl-logomark-anim {
  margin: 30px 0;
}
.plrl-logomark-anim.anim01 {
  /* hover effects */
  /* looping version */
}
.plrl-logomark-anim.anim01 .plrl-logomark-outer-wrapper {
  position: relative;
  min-height: 100px;
  left: 50%;
}
.plrl-logomark-anim.anim01 .plrl-logomark-outer-wrapper .plrl-logomark-inner-wrapper {
  position: relative;
  height: auto;
  width: 100px;
  height: 100px;
  left: -50px;
  opacity: 0.9;
  -webkit-transition: opacity 200ms cubic-bezier(0.4, 0.37, 0.19, 0.99);
  -moz-transition: opacity 200ms cubic-bezier(0.4, 0.37, 0.19, 0.99);
  -o-transition: opacity 200ms cubic-bezier(0.4, 0.37, 0.19, 0.99);
  transition: opacity 200ms cubic-bezier(0.4, 0.37, 0.19, 0.99);
}
.plrl-logomark-anim.anim01.upres4x .plrl-logomark-outer-wrapper {
  min-height: 400px;
}
.plrl-logomark-anim.anim01.upres4x .plrl-logomark-outer-wrapper .plrl-logomark-inner-wrapper {
  left: -200px;
  transform: scale(4);
  -webkit-transform: scale(4);
  transform-origin: top left;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer {
  position: absolute;
  height: 98.9348px;
  width: 100px;
  overflow: hidden;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer .plrl-logo-layer-mask {
  position: relative;
  width: 100px;
  height: 100px;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  position: absolute;
  overflow: hidden;
  width: 100px;
  height: 100px;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer img {
  display: block;
  position: absolute;
  width: 100px;
  height: 100px;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.dot {
  z-index: 1;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.top-left {
  z-index: 4;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.top-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 68.6619px;
  left: 0;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.top-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner img {
  left: 0;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.top-right {
  z-index: 4;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.top-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 16.7235px;
  top: -20px;
  /* Note that we have to pull the top up to hide rounded corner */
  right: 0;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.top-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner img {
  right: 0;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.bottom-left {
  z-index: 4;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.bottom-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 16.7235px;
  left: 0;
  bottom: -20px;
  /* Note that we have to pull the top up to hide rounded corner */
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.bottom-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner img {
  left: 0;
  bottom: 0;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.bottom-right {
  z-index: 4;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.bottom-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 68.6619px;
  right: 0;
  bottom: 0;
}
.plrl-logomark-anim.anim01 .plrl-logo-layer.bottom-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner img {
  right: 0;
  bottom: 0;
}
.plrl-logomark-anim.anim01.state02 .plrl-logo-layer.top-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 16px;
  height: 68.6619px;
  left: 0px;
  top: -20px;
}
.plrl-logomark-anim.anim01.state02 .plrl-logo-layer.top-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 68.6619px;
  height: 68.6619px;
  top: 0;
}
.plrl-logomark-anim.anim01.state02 .plrl-logo-layer.bottom-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  left: 0;
  width: 68.7235px;
  height: 68.6619px;
  bottom: 0px;
}
.plrl-logomark-anim.anim01.state02 .plrl-logo-layer.bottom-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 16px;
  height: 68.6619px;
  right: 0;
  bottom: -20px;
}
.plrl-logomark-anim.anim01.state03 .plrl-logo-layer.top-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 68.6619px;
  height: 16.7235px;
  left: -20px;
}
.plrl-logomark-anim.anim01.state03 .plrl-logo-layer.top-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 68.6619px;
  height: 68.6619px;
  top: 0;
}
.plrl-logomark-anim.anim01.state03 .plrl-logo-layer.bottom-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  left: 0;
  width: 70px;
  height: 68.6619px;
  bottom: 0px;
}
.plrl-logomark-anim.anim01.state03 .plrl-logo-layer.bottom-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 68.6619px;
  height: 16.7px;
  right: -20px;
}
.plrl-logomark-anim.anim01.state04 .plrl-logo-layer.top-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 51.9384px;
  height: 68.6619px;
  left: 0px;
}
.plrl-logomark-anim.anim01.state04 .plrl-logo-layer.top-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 100.6619px;
  height: 16.7235px;
  top: 0px;
  right: -20px;
}
.plrl-logomark-anim.anim01.state04 .plrl-logo-layer.bottom-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 102px;
  height: 16.7235px ;
  left: -10px;
  bottom: 0px;
}
.plrl-logomark-anim.anim01.state04 .plrl-logo-layer.bottom-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  width: 32px;
  height: 68.6619px;
  right: 0px;
}
.plrl-logomark-anim.anim01.is-button .plrl-logomark-inner-wrapper:hover {
  cursor: pointer;
  opacity: 1.0;
}
.plrl-logomark-anim.anim01.is-button .plrl-logomark-inner-wrapper:hover .plrl-logo-layer.dot {
  -webkit-animation: plrl_logomark_anim_anim01_dot 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_dot 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.is-button .plrl-logomark-inner-wrapper:hover .plrl-logo-layer.top-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  -webkit-animation: plrl_logomark_anim_anim01_top_left 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_top_left 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.is-button .plrl-logomark-inner-wrapper:hover .plrl-logo-layer.top-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  -webkit-animation: plrl_logomark_anim_anim01_top_right 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_top_right 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.is-button .plrl-logomark-inner-wrapper:hover .plrl-logo-layer.bottom-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  -webkit-animation: plrl_logomark_anim_anim01_bottom_left 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_bottom_left 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.is-button .plrl-logomark-inner-wrapper:hover .plrl-logo-layer.bottom-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  -webkit-animation: plrl_logomark_anim_anim01_bottom_right 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_bottom_right 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.looping .plrl-logomark-inner-wrapper {
  opacity: 1.0;
}
.plrl-logomark-anim.anim01.looping .plrl-logomark-inner-wrapper .plrl-logo-layer.dot {
  -webkit-animation: plrl_logomark_anim_anim01_dot 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_dot 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.looping .plrl-logomark-inner-wrapper .plrl-logo-layer.top-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  -webkit-animation: plrl_logomark_anim_anim01_top_left 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_top_left 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.looping .plrl-logomark-inner-wrapper .plrl-logo-layer.top-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  -webkit-animation: plrl_logomark_anim_anim01_top_right 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_top_right 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.looping .plrl-logomark-inner-wrapper .plrl-logo-layer.bottom-left .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  -webkit-animation: plrl_logomark_anim_anim01_bottom_left 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_bottom_left 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}
.plrl-logomark-anim.anim01.looping .plrl-logomark-inner-wrapper .plrl-logo-layer.bottom-right .plrl-logo-layer-mask .plrl-logo-layer-mask-inner {
  -webkit-animation: plrl_logomark_anim_anim01_bottom_right 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
  animation: plrl_logomark_anim_anim01_bottom_right 3s cubic-bezier(0.4, 0.37, 0.19, 0.99) infinite;
}