node_modules/
cypress/screenshots
cypress/videos
deps/
charts/
.vscode/
log/
.git/
.gitignore
.dockerignore
Dockerfile*
Makefile
README*
test/
priv/static/
creds/
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
