external-dns:
  provider: <%= required(@ctx, "provider") %>
  txtOwnerId: <%= required(@ctx, "txt_owner") %>
  rbac:
    create: true
    serviceAccountName: <%= default(@ctx, "externaldns_service_account", "external-dns") %>
  domainFilters:
  - <%= required(@ctx, "domain") %>
  google:
    project: <%= required(@ctx, "google_project_id") %>
    serviceAccountSecret: externaldns