name: Pull Request Labels
on:
  pull_request:
    branches: [ master ]
    types: [opened, labeled, unlabeled, synchronize]
jobs:
  label:
    name: Check that PR has required labels
    runs-on: ubuntu-latest
    steps:
      - uses: mheap/github-action-required-labels@v2
        with:
          mode: exactly
          count: 1
          labels: "bug-fix, enhancement, breaking-change, dependencies"
